body {
    font-family: "Roboto", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th,
td:nth-child(2) {
text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 6px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

button:active {
    scale: .99;
}

/* #recover-btn,
button[onclick="recoverLast()"] {
    margin-top: 15px;
    background-color: #2196F3;
}

#recover-btn:hover,
button[onclick="recoverLast()"]:hover {
    background-color: #1976D2;
} */

#audit-log {
    margin-top: 20px;
    list-style-type: square;
}

#audit-log li {
    margin-bottom: 5px;
}

.container {
    max-width: 640px;
    margin: 0 auto;
}